<div [ngClass]="getClassesByPosition(0)">
    The first product is {{getProductByPosition(0).name}}.
</div>
<div [ngClass]="getClassesByPosition(1)">
    The second product is {{getProductByPosition(1).name}}
</div>
<div class="bg-info p-a-1">
    There are {{getProductCount()}} products.
</div>
<h2>*ngIf</h2>
<div *ngIf="getProductCount()>4" class="bg-info p-a-1 m-t-1">
    There are more than 4 products in the model
</div>
<div *ngIf="getProductByPosition(0).name != 'Kayak'" class="bg-info p-a-1 m-t-1">
    The first product isn't a Kayak
</div>
<h2>ngSwitch</h2>
<div class="bg-info p-a-1 m-t-1" [ngSwitch]="getProductCount()">
    <span *ngSwitchCase="2">There are two products</span>
    <span *ngSwitchCase="5">There are five products</span>
    <span *ngSwitchDefault>This is the default</span>
</div>
<h2>ngSwitch by literal</h2>
<div class="bg-info p-a-1 m-t-1" [ngSwitch]="getProduct(1).name">
    <span *ngSwitchCase="targetName">Kayak</span>
    <span *ngSwitchCase="'Lifejacket'">Lifejacket</span>
    <span *ngSwitchDefault>Other Product</span>
</div>
<h2>ngFor</h2>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let item of getProducts();let i = index; let odd = odd; let first = first; let last = last; trackBy:getKey" [class.bg-primary]="odd"
        [class.bg-info]="!odd" [class.bg-warning]="first || last">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
        <td *ngIf="!last">{{item.price}}</td>
    </tr>
</table>
<h2>using ngTemplate</h2>
<ng-template #titleTemplate let-text="title">
    <h4 class="p-a-1 bg-success">{{text}}</h4>
</ng-template>
<ng-template [ngTemplateOutlet]="titleTemplate" [ngOutletContext]="{title:'Header'}"></ng-template>
<div class="bg-info p-a-1 m-a-1">
    There are {{getProductCount()}} products.
</div>
<ng-template [ngTemplateOutlet]="titleTemplate" [ngOutletContext]="{title: 'Footer'}"></ng-template>
<h2>a clean table for demo</h2>
<div class="bg-info p-a-1">
    Selected Product: {{product.value || '(None)'}}
</div>
<table class="table table-sm table-bordered m-t-1">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
    </tr>
    <tr *ngFor="let item of getProducts(); let i = index" [class.bg-info]="selectedProduct==item.name">
        <td (mouseover)="product.value=item.name">{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
    </tr>
</table>
<div class="form-group">
    <label>Product Name</label>
    <input type="text" class="form-control" (input)="selectedProduct=$event.target.value">
    <div>template variable</div>
    <input #product class="form-control" (input)="false" />
</div>
<h2>two-way binding</h2>
<div>
    <label for="">Product Name(event + value)</label>
    <input class="form-control" type="text" (input)="selectedProduct=$event.target.value" [value]="selectedProduct || ''">
</div>
<div class="form-group">
    <label>Product Name(ngModel)</label>
    <input class="form-control" [(ngModel)]="selectedProduct" />
</div>
<h2>A form example</h2>
<div class="bg-info p-a-1 m-b-1">{{jsonProduct}}</div>

<div class="col-xs-6">
    <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">
        <div class="bg-danger p-a-1 m-b-1" *ngIf="formSubmitted && form.invalid">
            There are problems with the form
            <ul>
                <li *ngFor="let error of form.getFormValidationMessages()">
                    {{error}}
                </li>
            </ul>
        </div>
        <!--<div class="form-group">
        <label for="">Name</label>
        <input class="form-control" name="name" [(ngModel)]="newProduct.name" formControlName="name" />
        <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || form.controls['name'].dirty) && form.controls['name'].invalid">
            <li *ngFor="let error of form.controls['name'].getValidationMessages()">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label>Category</label>
        <input class="form-control" name="name" [(ngModel)]="newProduct.category" formControlName="category" />
        <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || form.controls['category'].dirty) && form.controls['category'].invalid">
            <li *ngFor="let error of form.controls['category'].getValidationMessages()">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input class="form-control" name="price" [(ngModel)]="newProduct.price" formControlName="price" />
        <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || form.controls['price'].dirty) && form.controls['price'].invalid">
            <li *ngFor="let error of form.controls['price'].getValidationMessages()">
                {{error}}
            </li>
        </ul>
    </div>-->
        <div class="form-group" *ngFor="let control of form.productControls">
            <label for="">{{control.label}}</label>
            <input class="form-control" name="{{control.modelProperty}}" [(ngModel)]="newProduct[control.modelProperty]" formControlName="{{control.modelProperty}}"
            />
            <ul class="text-danger list-unstyled" *ngIf="(formSubmitted || control.dirty) && control.invalid">
                <li *ngFor="let error of control.getValidationMessages()">
                    {{error}}
                </li>
            </ul>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="formSubmitted && form.invalid" [class.btn-secondary]="formSubmitted && form.invalid">
        Create
    </button>
    </form>
</div>

<div class="col-xs-6">
    <div class="form-group bg-info p-a-1">
        <label>Name:</label>
        <input class="bg-primary" [(paModel)]="newProduct.name" #paModel="paModel" />
        <div class="bg-primary">Direction: {{paModel.direction}}</div>
    </div>
    <table class="table table-sm table-bordered table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let item of getProducts();let i = index" [pa-product]="item" [pa-attr]="getProducts().length < 6 ? 'bg-success' : 'bg-warning'"
            (pa-category)="newProduct.category=$event">
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td [pa-attr]="item.category == 'Soccer' ? 'bg-info' : null">{{item.category}}</td>
            <td [pa-attr]="'bg-info'">{{item.price}}</td>
        </tr>
    </table>
</div>